{% extends 'base.html' %}
{% block pagetitle %}
🌿 Plants Care AI | Code
{% endblock pagetitle %}

{% block body %}
<div class="text-center m-20 mt-32">
    <h1 class="text-4xl font-bold">Code Notebook 🧑‍💻</h1>
    <div class="mt-5 px-10">
        <iframe src="https://www.kaggle.com/embed/purna135/plant-disease-detection-resnet?kernelSessionId=144440071" height="800" style="margin: 0 auto; width: 100%;" frameborder="0" scrolling="auto" title="Plant Disease Detection - ResNet"></iframe>
    </div>
</div>
{% endblock body%}